@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');

body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  div.body {
      width: 100 vw;
  }
  nav ul {
    list-style: none;
    margin:  0 0 40px 0;
    padding: 0;
    
   
    
    

    
  }
  .header {
    background-color: aqua;
    background-image: url(/img/discord-gaming-community-vector-8bj6he46773yglph.jpeg);
    height: 400px;
  margin-bottom: 30px;
    
  }
  .navtext{
    text-align: center;
    padding: 10px 250px 0  250px;
    color: white;
    
    
  }

  .form2{
    
  }
  nav ul li{
    display: inline-block;
    text-align: center;
    width:155px;
    color: white;
    
  }
  
  
  .footer>ul>li {
    text-decoration:none;
    display: inline-block;
    list-style: none;
    
  }
 

  .navtext{
    border:5px
    
  }
  .footer{
    border:10px 0 2px 0;
    
    height:fit-content;
  }
  
  .content {
  
  }
=======
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #fff;
  font-family: 'Open Sans', sans-serif;
}


h2 {
  font-size: 2.5em;
  font-weight: bold;
}

h3 {
  font-size: 30px;
}

.btn {
  background-color: #5765f2;
  color: #fff;
  width: 17vw;
  height: 5vh;
  border-radius: 25px;
  border: 0;
  margin-top: 15px;
}

.btn:hover {
  cursor: pointer;
  box-shadow: 0 0 11px gray;
}


.pcontent {
  font-size: 18px;
}

#pic {
  width: 1150px;
}

.body {
  width: 100vw;
  margin: 0;
}

.structure {
  width: 55vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#conp {
  width: 20vw;
}

#conp2 {
  width: 45vw;
  text-align: center;
}
#conp3 {
  width: 45vw;
  text-align: center;
}

#conp3 {
  width: 20vw;
  text-align: center;
}

#conp4 {
  width: 30vw;
  background-image: url(bilder/bg.svg);
  background-repeat: no-repeat;
  background-size: 100%;
  min-height: 8vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.structure2 {
  width: 65vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.structure3 {
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.content {
  width: 100vw;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.con1 {
  background-color: #fff;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60vh;
  
}

.con2 {
  background-color: #f6f6f6;
  width: 100vw;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.con3 {
  background-color: #fff;
  width: 100vw;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.con4 {
  background-color: #f6f6f6;
  width: 100vw;
  height: 1130px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.con5 {
  background-color: #f6f6f6;
  width: 100vw;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.foot {
 background-color: #23272a;
 min-height: 35vh;
}
